<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: head(reviews)">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<br>
<br>
<div class="container" th:action="@{/restaurant/review/{id}(id=${restaurant.id})}">
  <div th:each="review : ${reviews}">
    <div th:if="${review.restaurant.id == restaurant.id}">
    <h1 th:text="${review.restaurant.restaurant_name}"></h1>
    <h3 th:text="${review.content}"></h3>
    <h5>Author: <span th:text="${review.user.username}"></span></h5>
    <div class="container" th:each="image : ${images}" th:value="${review.id}">
      <img th:if="${image.url == null}" class="responsive-im post-img" src="https://placehold.it/300x300" alt="placeholder" />
      <img class="img-thumbnail" th:if="${image.url != null && image.id == review.id}" th:src="${'/uploads/' + image.url }" />
    </div>
    <a class="btn btn-primary" th:href="@{/review/update/{id}(id=${restaurant.id})}" role="button">Link</a>
    </div>
  </div>
  <div class="container text-center">
      <a class="btn btn-warning" th:href="@{/restaurant/details/{id}(id=${restaurant.id})}">Back to <span th:text="${restaurant.restaurant_name}"></span></a>
  </div>
</div>





<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>
</html>
