<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: head('Restaurant Reviews')"></head>
<!--<body class="d-flex flex-column min-vh-100">-->
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<!--<div class="mb-3">-->
<!--    <label for="exampleFormControlInput1" class="form-label">Email address</label>-->
<!--    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">-->
<!--</div>-->

<h1>Restaurant Review</h1>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Tell us all about your dining experience to share with others here on DinnerBell.
    How was your meal? Was the staff welcoming? Was the atmosphere pleasant and clean? Would you recommend this restaurant to a friend?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>





<!--Creats a form to upload images-->
<div class="mb-3">
    <label for="formFile" class="form-label">Do you have a picture of your meal to share? Or perhaps a photo with friends enjoying your time at this restaurant?
    Please feel free to upload a photo.</label>
    <input class="form-control" type="file" id="formFile">
</div>


<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>
</html>
