<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/headHome :: headHome(reviews)">
</head>
<style>
    *, ::after, ::before {
        box-sizing: border-box;
        justify-content: center;
    }
.flex-box {
    justify-content: space-evenly;
    color: #3ce2e0;
}
.card__image{
    justify-content: center;
}
h1{
    font-weight: bold;
}
h5{
  font-weight: bolder;
}
.btn {
    justify-content: center;
}


</style>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="containerR">
<div class="flex-box mt-5 p-5">

    <div class="row gy-5">

            <div class="col-6" >
                <h1 th:text="${restaurant.restaurant_name}"></h1>

                <div th:each="review : ${reviews}">

                    <h5 th:text="${review.user.username}"> </h5>
                    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-e2819864-2ed1-449e-aff5-eebbfb7235c7"></div>
                    <div class="card__snippet" th:text="${review.content}"> </div>
                    <div class="card__image" style="width: 18rem;" th:each="image : ${review.images}" th:value="${review.id}">
                        <img th:if="${image.url == null}" class="img-thumbnail" src="https://placeh old.it/300x300" alt="placeholder" />
                        <img class="img-thumbnail"  th:src="${'/upload/' + image.url }" />
                    </div>
                    <th:block class="card_review" th:if="${review.user.id == currentUser.id}">

                        <a class="btn btn-warning" th:href="@{'/review/update/' + ${review.id}}">Edit</a>
<!--                                    <a class="btn btn-danger" th:href="@{'/review/delete/' + ${review.id}}">Delete</a>-->

                        <th:block th:replace="partials/deleteModel :: modal"></th:block>
                    </th:block>
                </div>


            </div>
        </div>
</div>
    <div class="bg_img">
        <img src="/img/bg.png">
        <div class="social">
            <a href="https://www.facebook.com/"> <i class="fa fa-facebook" aria-hidden="true"></i>   </a>
            <a href="https://twitter.com/">  <i class="fa fa-twitter" aria-hidden="true"></i>  </a>
            <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i>   </a>
            <a href="https://www.whatsapp.com">  <i class="fa fa-whatsapp" aria-hidden="true"></i>  </a>
        </div>
    </div>



    <div class="container text-center">
        <a class="btn btn-warning" th:href="@{/restaurant/details/{id}(id=${restaurant.id})}">Back to <span th:text="${restaurant.restaurant_name}"></span></a>
    </div>


</div> <!--  content div-->






<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>
</body>
</html>

