<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&family=Squada+One&display=swap" rel="stylesheet">
    <link th:href="@{/css/forms.css}" rel="stylesheet" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
</div>


</body>
</html>
