<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>navbar</title>
</head>


<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DinnerBell</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                VISITORS CAN VIEW ABOUT, SIGN UP, AND LOG IN-->
                <!--                USERS CAN VIEW WHAT VISITORS VIEW + PROFILE PAGE, EXCLUSIVES (DB RESTAURANTS), YELP SEARCH AND BELL LINKS-->
                <!--                RESTAURANT OWNERS CAN VIEW WHAT VISITORS AND USERS CAN VIEW -->
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/profile">Profile</a>
                    <!-- sec:authorize="isAuthenticated()" added inside anchor only viewed when logged in-->
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/index">Exclusives</a>
                    <!-- for restaurant index page? -->
                </li>
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/sign-up">Sign Up</a></li>
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Log in</a>
                </li>


                <form th:action="@{/logout}" th:method="post">
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/sign-up">Logout</a>
                    </li>
                </form>


                <!--                    <form th:action="@{/logout}" th:method="post">-->
                <!--                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
                <!--                    </form>-->

            </ul>
        </div>
    </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>
