<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DinnerBell</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--                    VISITOR VIEW-->
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/sign-up">Sign Up</a>
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/login">Log in</a>

<!--                    PATRON/OWNER VIEW-->
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/dashboard">Profile</a>

<!--                    ALL VIEW-->
                    <a class="nav-link" href="/about">About</a>
                  <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                      <button class="nav-link bg-transparent border-0">Logout</button>
                    </form>
                  </div>
                </div>
            </div>

</nav>
</body>
</html>
