<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/headHome :: headHome('Our Menu')"></head>
<style>
    .container{
        border-radius: 50%;
    }
</style>


<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container-fluid mt-5">
    <div class="content" style="text-align: center">

        <!--CARD CLASS KEEPS CONTAINED-->
        <div class="card">
            <div>
                <h1 style="color: black">Welcome to DinnerBell!</h1>
                <h2>Let us help you plan your next dining experience by choosing from our following menu options...</h2>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Exclusive DinnerBell Restaurants</h4>
                            We feature the best eats and treats by our local
                            top restaurants. Be sure to choose your own favorites and leave a review.
                            <br>
                            <a class="btn btn-dark" href="/restaurants/exclusives" role="button">Exclusive Restaurants</a>
                        </div>
                        <div class="col">
                            <h4>DinnerBell Choice</h4>
                            Can't decide what's for dinner? How about one of our house
                            specials? Allow us to pick for you. Get a decision now!
                            <br>
                            <a class="btn btn-dark" href="/exclusive-pick" role="button">Exclusive Pick</a>
                        </div>
                        <div class="col">
                            <h4>Around the Town</h4>
                            Still unsure and need more help? Not a problem, get ideas from
                            Yelp! Search San Antonio to find your preference.
                            <br>
                            <a class="btn btn-dark" href="/yelp/events" role="button">Search Yelp SA</a>
                        </div>
                    </div>
                </div>

                <h2>Your DinnerBell Favorites</h2>
                <div class="card" th:each="favorite : ${userFaves}">
                    <a th:href="'/restaurant/details/' + ${favorite.getId()}"
                       th:text="${favorite.getRestaurant_name()}"></a>
                </div>
                <br>

                <h2>Your DinnerBell Reviews</h2>
                <div class="card" th:each="review : ${userReviews}">
                    <a th:href="'/review/update/' + ${review.getId()}" th:text="${review.getContent()}"></a>
                </div>
                    <div class="p-2 bg-light border">Be sure to check out David Elder of KSAT's ElderEats as he explores
                        a variety of restaurants in
                        South Texas and beyond!
                        <a style="text-align: center;" href="https://www.ksat.com/food/elder-eats/">ElderEats</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/homeScripts :: homeScripts"/>
</body>
</html>

