<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: head('Our Menu')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="content" style="text-align: center">
    <!--CARD CLASS KEEPS CONTAINED-->
    <div class="card">
        <div>
            <h1 style="color: black">Welcome to DinnerBell!</h1>
            <h2>Let us help you plan your next dining experience by choosing from our following menu options...</h2>

            <main>
                <article>DinnerBell features the best eats and treats by our local favorites. Check them out on our
                    Exclusives page. From there, you can select a restaurant to learn more about their establishment along with community reviews.
                    <a href="/restaurants/exclusives">Exclusives</a></article>
                <br>
                <article>Can't decide what's for dinner? How about one of our house specials? We will pick for you! <a href="/exclusive-pick">Exclusive Pick</a></article>
                <br>

            </main>
            <h2>Your DinnerBell Favorites</h2>
            <div class="card" th:each="favorite : ${userFaves}">
                <a th:href="'/restaurant/details/' + ${favorite.getId()}" th:text="${favorite.getRestaurant_name()}"></a>
            </div>

            <h2>Your DinnerBell Reviews</h2>
            <div class="card" th:each="review : ${userReviews}">
                <a th:href="'/review/update/' + ${review.getId()}" th:text="${review.getContent()}"></a>
            </div>

            <article>Still unsure and need more help? Not a problem, get ideas from Yelp! <a href="/yelp/events">Search
                Yelp</a>
            </article>
            <br>
            <article>Be sure to check out David Elder of KSAT's ElderEats as he explores a variety of restaurants in South Texas and
                beyond!
                <a href="https://www.ksat.com/food/elder-eats/">ElderEats</a>
            </article>
            <br>
        </div>
    </div>
</div>


<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>
