<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head th:replace="partials/header :: head(Profile)"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main class="container">


    <form th:action="@{/users/edit}" th:method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username" name="name">
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" name="email">
        <input type="hidden" name="password" th:value="${user.password}">
        <button type="submit">Update</button>
    </form>
</main>



<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>