<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="partials/header :: head('login in')"></head>
<style>
  body{
    text-shadow: 2px 2px #900d0d;
  }

</style>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Log In</h1>
<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" th:method="post">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />
  <br>

  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <br>

  <input type="submit" value="Submit" />
</form>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>
