<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: head('Profile')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="content">
    <!--CARD CLASS KEEPS CONTAINED-->
    <div class="card">
        <div>
            <p th:text="${user.username}"></p>
            <p th:text="${user.email}"></p>

            <p th:text="${user.isBusiness}"></p>
            <p th:text="${user.restaurant}"></p>
        </div>
    </div>
</div>


<th:block th:replace="partials/scripts :: scripts"/>

</body>
</html>
