@font-face {
    font-family: Squada One;
}


#profile-tab{
    color: #ffa200;
}
a{
    color: #900d0d;
}

a:hover {
    color: #070000
}
.nav-pills .nav-link.active, .nav-pills
.show>.nav-link{
    color: #ffa200;
    background-color: #101010;
}

form{

    color: #d4eaea;

}
body{
    background-image: url("../img/flamePan.jpeg");
    background-repeat: no-repeat;
    background-size: 160%;
    opacity: 90%;
    background-color: #000000;
    margin-top: 25px;
    width: 100%;
    min-height: 80vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    transition: 0.5s;
    font-family: "Squada One";

    z-index: 2;
}
/*<img src="../../static/img/flamePan.jpeg"/>*/
.btn  {
    border-radius: 24px;
    background-color: #ffa200;
    border-color: #c18c0a;
}
.custom-select, select{
    background-color: #ffa200;
    border-radius: 30px;
    border-color: #ffb700;
    color: #fff;
}

input{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 30px;
}

h1{

    color: #fff;

}
.form-label{
    color: #fff;

}
