/*!* style.css *!*/

/*html, body {*/
/*    height: 100%;*/
/*    background-color: #7fb8b8;*/
/*}*/

body {
    /*background-image: url("https://images.unsplash.com/photo-1471253794676-0f039a6aae9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");*/
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

body > .container {
    padding: 10px 0 0 0;
}


/*    !* This centers our sketch horizontally. *!*/
/*    justify-content: center;*/

/*    !* This centers our sketch vertically. *!*/
/*    align-items: center;*/

/*    background-color: #a09f93;*/
/*}*/