<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="partials/header :: head('Restaurant Form')"></head>
</head>


<body>

<h1>Tell us about your restaurant...</h1>

<div class="container">
    <br>
    <h2>Tell us about your restaurant...</h2><br>

    <form th:action="@{/restaurant/create}" th:method="post" th:object="${restaurant}">
        <label for="restaurant_name">Name</label>
        <input id="restaurant_name" th:field="*{restaurant_name}" name="restaurant_name" type="text"/>

        <label for="street_address">Address</label>
        <input id="street_address" th:field="*{street_address}" name="street_address" type="text"/>

        <label for="state">State</label>
        <input id="state" th:field="*{state}" name="state" type="text"/>

        <label for="zip_code">Zipcode</label>
        <input id="zip_code" th:field="*{zip_code}" name="zip_code" type="text"/>

        <label for="phone_number">Phone Number</label>
        <input id="phone_number" th:field="*{phone_number}" name="phone_number" type="text"/>

        <label for="website_link">Link to Website</label>
        <input id="website_link" th:field="*{website_link}" name="website_link" type="text"/>

        <label for="menu_link">Link to Menu</label>
        <input id="menu_link" th:field="*{menu_link}" name="menu_link" type="text"/>

        <label for="hours">Hours of Operation</label>
        <input id="hours" th:field="*{hours}" name="hours" type="text"/>

        <label for="description">Please write a brief description about your cuisine</label>
        <input id="description" name="description" type="text"/>

        <label for="price">What is the price range?</label>
        <input id="price" name="price" type="text"/>

       <div class="checkbox">
            <label for="categories"></label>
            <input id="categories"th:field="*{categories}" name="cat" type="text"/>

            <label><input type="checkbox" value="Italian"> Italian </label>
           <label><input type="checkbox" value="Steakhouse"> Steakhouse </label>
           <label><input type="checkbox" value="Buffet"> Buffet </label>
           <label><input type="checkbox" value="Pizza"> Pizza </label>
        </div>


        <button name="submit" type="submit" class="btn btn-primary"></button>
    </form>
</div>

<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>

</html>