<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="partials/headHome :: headHome('Restaurant Form')"></head>
<style>
    .col{
        font-size:20px;
        color: #1fd5b1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 1650px;
        width: 100%;
        padding: 50px 110px 130px;
        position: -ms-device-fixed;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        color: #fff;
    }

</style>



<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Tell us about your restaurant...</h1>

<div class="container col">
  <br>

  <form th:action="@{/restaurant/create}" th:method="post" th:object="${restaurant}">
  <div class="row">
      <div class="form-group col-md-5">
        <label for="restaurant_name">Restaurant Name</label><br>
        <input id="restaurant_name" th:field="*{restaurant_name}" name="restaurant_name" type="text" placeholder="Restaurant Name" required/>
      </div>

      <div class="form-group  col-md-5">
        <label for="description">Restaurant Description</label><br>
        <input id="description" th:field="*{description}" name="description" type="text" placeholder="Restaurant Description" required/>
      </div>

      <div class="form-group col-md-5">
        <label for="hours">Hours of Operation</label><br>
        <input id="hours" th:field="*{hours}" name="hours" type="text" placeholder="Hours of Operation"/>
      </div>

      <div class="form-group col-md-5">
        <label for="phone_number">Phone Number</label><br>
        <input id="phone_number" th:field="*{phone_number}" name="phone_number" type="text" placeholder="Phone Number" required/>
      </div>

      <div class="form-group col-md-5">
        <label for="street_address">Street Address</label><br>
        <input id="street_address" th:field="*{street_address}" name="street_address" type="text" placeholder="Street Address" required/>
      </div>
  </div>
    <div class="row">
      <div class="form-group col-md-5">
        <label for="city">City</label><br>
        <input id="city" th:field="*{city}" name="city" type="text" placeholder="City" required/>
      </div>

      <div class="form-group col-md-5">
        <label for="state">State</label><br>
        <input id="state" th:field="*{state}" placeholder="XX" maxlength="2" name="state" type="text" required/>
      </div>

      <div class="form-group col-md-5">
        <label for="zip_code">Zipcode</label><br>
        <input id="zip_code" th:field="*{zip_code}" name="zip_code" type="text" placeholder="zip code" required/>
      </div>

      <div class="form-group col-md-5">
        <label for="website_link">Link to Website</label><br>
        <input id="website_link" th:field="*{website_link}" name="website_link" placeholder="https://example.com" type="url" pattern="https://*" />
      </div>

      <div class="form-group col-md-5">
        <label for="menu_link">Link to Menu</label><br>
        <input id="menu_link" th:field="*{menu_link}" name="menu_link" placeholder="https://example.com" type="url" pattern="https://*"/>
      </div>


      <div class="form-group col-md-5">
        <label for="eats_link">Link to Elder Eats</label><br>
        <input id="eats_link" th:field="*{elder_eats_link}" name="elder_eats_link" placeholder="https://example.com" type="url" pattern="https://*"/>
      </div>
  </div>
    <!--        &lt;!&ndash; Surround the select box within a "custom-select" DIV element.-->
    <!--Remember to set the width: &ndash;&gt;-->
  <br>
  <div class="content">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="categories" id="categories">
          <option disabled="disabled" selected="selected">Cuisine Categories</option>
          <option  th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
        </select>

  </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>

      </div>

    </form>
        </div>
<div class="bg_img">
    <img src="/img/bg.png">
    <!--  <div class="social">-->
    <!--    <i class="fa fa-concierge-bell" aria-hidden="true"></i>-->
    <!--    <i class="fa fa-bell" aria-hidden="true"></i>-->
</div>


<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>
</body>
</html>
