<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/headHome :: headHome('Restaruant Details')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<!--CONTENT CLASS USES CSS TO CENTER THE DIV-->
<div class="content mt-5 p-5" style="text-align: center">
    <!--CARD CLASS KEEPS CONTAINED-->
    <div class="card">

            <!--            MAIN AND ARTICLES SEPARATE DATA .details class IS USED IN CSS FOR FORMAT AND STYLING-->

            <main>
                <h1 class="mt-4 p-1 mb-3" th:text="${restaurant.restaurant_name}"></h1>

                <!--                INSERT IMAGE CODE HERE-->
              <div class="restaurant-page-image">
                <div th:replace="partials/carousel :: carousel"></div>

                </div>
                <br>

        <form th:action="@{'/restaurant/details/' + ${restaurant.id}}" th:method="post">
                <!--                FAVORITES BUTTON-->
                <div sec:authorize="isAuthenticated()" th:if="${!restaurant.favorites.contains(user)}">
                    <button type="submit" class="btn btn-danger">Add to Favorites</button>
                </div>
                <div sec:authorize="isAuthenticated()" th:unless="${!restaurant.favorites.contains(user)}">
                    <button id="favoriteBtn" type="submit" class="btn btn-secondary">Saved to Favorites</button>
                </div>
        </form>
                <p th:text="${restaurant.description}"></p>

                <article class="details">
                    <h6>Hours: </h6>
                    <p th:text="${restaurant.hours}"></p>
                </article>
                <article class="details">
                    <h6>Phone number: </h6>

<!--                    <p th:text="${restaurants.phone_number}"></p>-->
<!--                    <a href="tel:+05890000111">0-589-0000111</a>-->
                    <a th:href="'tel:+' + '${restaurants.phone_number}'"><span th:text="${restaurant.phone_number}"></span></a>
<!--                    <a href="'tel:+' + th:text='${restaurants.phone_number}></a>-->

                </article>
                <article class="details">
                    <h6>Address: </h6>
                  <p th:text="${restaurant.street_address} + ', ' + ${restaurant.city} +  ', ' + ${restaurant.state} + ', ' + ${restaurant.zip_code}"></p>
                </article>
                <article class="details">
                    <h6>Website: </h6>
<!--                    <p th:text="${restaurant.website_link}"></p>-->
                  <a th:href="${restaurant.website_link}">Link to <span th:text="${restaurant.restaurant_name}"></span></a>
                </article>
                <article class="details">
                    <h6>Menu: </h6>
                  <a th:href="${restaurant.menu_link}">Link Menu</a>

                </article>
                <article class="details">
                    <h6>ElderEats Link: </h6>
                  <a th:href="${restaurant.elder_eats_link}">Elder Eats</a>
                </article>
            </main>


        <!--BUTTON TO LEAVE A REVIEW-->
        <div sec:authorize="isAuthenticated()">
            <h3>How was your visit? Let us know!</h3>

            <a class="btn btn-warning" th:href="@{/review/{id}(id=${restaurant.id})}" role="button">Leave a Review</a>
          <a class="btn btn-warning" th:href="@{/reviews/byRestaurant/{id}(id=${restaurant.id})}" role="button">View Reviews</a>
        </div>


    </div>
</div>


<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>

</body>
</html>
