<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: head('Restaruant Details')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

      <form th:action="@{/restaurant/details/{id}(id=${restaurants.id})}" th:method="post">

          <h1 th:text="${restaurants.restaurant_name}"></h1>
          <h3 th:text="${restaurants.description}"></h3>
          <h3 th:text="${restaurants.hours}"></h3>
          <h3 th:text="${restaurants.phone_number}"></h3>
          <h3 th:text="${restaurants.street_address}"></h3>
          <h3 th:text="${restaurants.state}"></h3>
          <h3 th:text="${restaurants.zip_code}"></h3>
          <h3 th:text="${restaurants.menu_link}"></h3>
          <h3 th:text="${restaurants.elder_eats_link}"></h3>
          <h3 th:text="${restaurants.website_link}"></h3>

          <div sec:authorize="isAuthenticated()" th:if="${!restaurants.favorites.contains(user)}">
          <button type="submit" class="btn btn-info">Add to Favorites</button>
          </div>
        <div sec:authorize="isAuthenticated()" th:unless="${!restaurants.favorites.contains(user)}">
            <button id="favoriteBtn" type="submit" class="btn btn-secondary">Saved to Favorites</button>
        </div>


<!--<div class="container">-->

<th:block th:replace="partials/scripts :: scripts"></th:block>

<!--    <h1>Restaurant Name</h1>-->
<!--    <p>about restaurant</p>-->






<!--</div>-->




</form>
</body>
</html>
