<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/headHome :: headHome('Edit Restaurant')"></head>


<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar"></nav>


<div class="container">
  <br>

    <form th:action="@{'/restaurant/edit/'  + ${restaurant.id}}" th:method="POST" th:object="${restaurant}">

      <label for="restaurant_name">Name</label>
      <input id="restaurant_name" th:field="*{restaurant_name}" name="restaurant_name" type="text"/>
      <br>

      <label for="description">Restaurant Description</label>
      <input id="description" th:field="*{description}" name="description" type="text"/>
      <br>

      <label for="hours">Hours of Operation</label>
      <input id="hours" th:field="*{hours}" name="hours" type="text"/>
      <br>

      <label for="phone_number">Phone Number</label>
      <input id="phone_number" th:field="*{phone_number}" name="phone_number" type="text"/>
      <br>

      <label for="street_address">Street Address</label>
      <input id="street_address" th:field="*{street_address}" name="street_address" type="text"/>
      <br>


      <label for="city">City</label>
      <input id="city" th:field="*{city}" name="city" type="text"/>
      <br>


      <label for="state">State</label>
      <input id="state" th:field="*{state}" name="state" type="text"/>
      <br>

      <label for="zip_code">Zipcode</label>
      <input id="zip_code" th:field="*{zip_code}" name="zip_code" type="text"/>
      <br>


      <label for="website_link">Link to Website</label>
      <input id="website_link" th:field="*{website_link}" name="website_link" type="text"/>
      <br>

      <label for="menu_link">Link to Menu</label>
      <input id="menu_link" th:field="*{menu_link}" name="menu_link" type="text"/>
      <br>



      <label for="eats_link">Link to Elder Eats</label>
      <input id="eats_link" th:field="*{elder_eats_link}" name="elder_eats_link" type="text"/>
      <br>
      <br>


      <div class="container">
        <h3>Has your Cuisine type recently changed?</h3><br>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="categories" id="categories">
          <option th:each="restaurantCategory : ${restaurant.categories}" th:selected="${restaurantCategory.id}" th:value="${restaurantCategory.id}" th:text="'Current: ' + ${restaurantCategory.name}"></option>
          <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
        </select>
      </div>
      <br>

      <button name="submit" type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>



<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>


</body>
</html>
