<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Restaurant Profile</title>
<!--    <th:block th:replace="partials/styles :: styles" />-->
</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('Edit Restaurant')"></header>

<h1>Hello world</h1>

<!--<main class="container">-->
<!--GET ID, COMPLETE NULLABLES-->
    <form th:action="@{/restaurant/edit/{id}(id=${restaurant.id})}" th:method="POST" th:object="${restaurant}">
        <label for="restaurant_name">Restaurant Name</label>
        <input type="text" th:field="*{restaurant_name}" id="restaurant_name" name="name">
        <label for="email">Email</label>
        <input type="text" th:field="*{street_address}" id="email" name="email">
        <button type="submit">Update</button>
    </form>
</main>




<!-- use thymeleaf to dynamically create the html for each post -->


<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts" />

<!-- Delete Confirmation Script -->
<!--<script src="/js/delete-confirmation.js"></script>-->

</body>
</html>