<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/restaurantDashHead :: DashHead('Restaurant Dashboard')">
    <a href="https://icons8.com/icon/64641/plate"></a>
    <a href="https://icons8.com/icon/vKp9UpF1MZHK/person-cook"></a>
</head>

<style>
    .btn-warning {
        color: #ffffff;
        background-color: #00aba9;
        border: #0abfc2;
        border-radius: 12px;
    }

</style>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div id="menu-list" th:if="${user.restaurant == null}">
    <div class="container">
        <div class="card" style="background-color: #023047; padding: 0 10px;">
            <div class="row text-center">
                <h1 class="display-4 mt-1 p-1" style="color:white">Your Restaurant Profile</h1>
                <p class="header-p">Let's build your restaurant page.
                    <a role="button" class="nav-link bg-transparent border-0" th:href="@{/restaurant/create}">Enter
                        Restaurant information </a>
                    <img src="https://img.icons8.com/dusk/64/000000/chef-hat.png"/>
            </div>
        </div>
    </div>
</div>


<div class="container" th:if="${user.restaurant != null}">
    <div class="card">
        <div class="row text-center">

            <h1>Your Restaurant Profile</h1>

            <div class="row text-center">
                <div class="col">
                    <p>test</p>

                </div>
                <div class="col">
                    <img src="https://img.icons8.com/clouds/100/000000/plate-1.png"/>
                    <h5 class="card-title fw-bolder">Restaurant Information for</h5>
                    <h5 class="card-title fw-bolder" th:text="${user.restaurant.restaurant_name}"></h5>

                    <div class="text-center">
                        <a role="button" class="btn btn-warning"
                           th:href="@{'/restaurant/edit/' + ${user.restaurant.id}}">Update Info</a>
                    </div>
                    <br>
                    <div class="text-center">
                        <a role="button" class="btn btn-warning"
                           th:href="@{'/restaurant/details/' + ${user.restaurant.id}}">View Your Page</a>
                    </div>
<!--                    <h5>Hours: </h5>-->
<!--                    <h5 th:text="${user.restaurant.hours}"></h5>-->
<!--                    <h5>Cuisine Category:</h5>-->
<!--                    <h5 th:each="restaurantCategory : ${user.restaurant.categories}"-->
<!--                        th:selected="${restaurantCategory.id}" th:value="${restaurantCategory.id}"-->
<!--                        th:text="${restaurantCategory.name}"></h5>-->
<!--                    <h5>Address:</h5>-->
<!--                    <h5 th:text="${user.restaurant.street_address} + ', ' + ${user.restaurant.city} +  ', ' + ${user.restaurant.state} + ', ' + ${user.restaurant.zip_code}"></h5>-->
<!--                    <h5>Phone Number: </h5>-->
<!--                    <h5 th:text="${user.restaurant.phone_number}"></h5>-->
                </div>

            </div>
        </div>

    </div>
</div>
</div>


<!--<h5>Username: <span class="span-values fw-bold" th:text="${user.username}"></span></h5>-->
<!--<h5>Email: <span class="span-values fw-bold" th:text="${user.email}"></span></h5><br>-->
<!--</div>-->

<!--<div class="text-center">-->
<!--    <a class="btn btn-warning" role="button" th:href="@{/users/edit}">Update Account</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="nav-item col-12 col-md-5 px-2">-->
<div class="restaurant-card-text dashtab nav-tab-shadow text-center">
    <img src="https://img.icons8.com/clouds/100/000000/plate-1.png"/>
    <br>
    <h5>Restaurant for Information</h5>
    <div class="text-center">
        <h5 th:text="${user.restaurant.restaurant_name}"></h5>
        <h5>Hours: <span class="span-values fw-bold" th:text="${user.restaurant.hours}"></span></h5>
        <h5 class="fw-bold" th:each="restaurantCategory : ${user.restaurant.categories}"
            th:selected="${restaurantCategory.id}" th:value="${restaurantCategory.id}">Cuisine Category:
            <span class="span-values fw-bold" th:text="${restaurantCategory.name}"></span></h5>
        <h5>Address: <span class="span-values fw-bold"
                           th:text="${user.restaurant.street_address} + ', ' + ${user.restaurant.city} +  ', ' + ${user.restaurant.state} + ', ' + ${user.restaurant.zip_code}"></span>
        </h5>
        <h5>Phone Number: <span class="span-values fw-bold"
                                th:text="${user.restaurant.phone_number}"></span></h5>
    </div>

</div>
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<div class="container my-4">-->
<!--    <div class="restaurant-card-text dashtab nav-tab-shadow text-center" data-toggle="tab">-->
<!--        <h2 class="header-h">Restaurant statistics</h2>-->
<!--        <div class="row">-->
<!--            <h4 class="col-6 restaurant-card-text">Number of favorites: <span-->
<!--                    th:text="${user.restaurant.favorites.size()}"></span></h4>-->
<!--            <h4 class="col-6 restaurant-card-text">Number of Reviews: <span-->
<!--                    th:text="${user.restaurant.reviews.size()}"></span></h4>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<section th:if="${!user.restaurant.images.isEmpty()}">-->

<!--    <div class="text-center col-12">-->
<!--        <h2 class="header-h">Restaurant Photo's</h2>-->
<!--        <div th:replace="partials/carouselUser :: carouselUser"></div>-->
<!--        <div class="row">-->
<!--            <a role="button" class="btn btn-warning"-->
<!--               th:href="@{'/restaurant/uploads/show/' + ${user.restaurant.id}}">Edit Photos</a>-->
<!--            <a role="button" class="btn btn-warning"-->
<!--               th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Add more photos</a>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->
<!--<section th:unless="${!user.restaurant.images.isEmpty()}">-->
<!--    <div class="card row">-->
<!--        <h5 class="card-header text-center">Welcome, <span th:text="${user.username}"></span></h5>-->
<!--        <div class="card-body text-center" width="100">-->
<!--            <h1>Let's build Your Restaurant page</h1>-->
<!--            <h3>Upload your restaurant photo's to display on restaurant page.</h3>-->
<!--            <a role="button" class="btn btn-warning"-->
<!--               th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Upload photos</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<!--<h3 class="my-4 header-h text-center"><img class="img-thumbnail bg-transparent border-0"-->
<!--                                           src="https://img.icons8.com/bubbles/100/000000/review.png"/></h3>-->
<!--<div class="my-2 restaurant-card-text justify-content-center row" data-toggle="tab">-->
<!--    <div class="col-md-4" th:each="review : ${user.restaurant.reviews}">-->
<!--        <div class="text-center" th:each="image : ${review.images}" style="width: 18rem;">-->
<!--            <div class="col-md-4">-->
<!--                <h3 class="text-center" th:text="${review.content}"></h3>-->
<!--                <img th:if="${image.url == null}" class="img-thumbnail" src="https://placeh old.it/300x300"-->
<!--                     alt="placeholder"/>-->
<!--                <img class="img-thumbnail" th:src="${'/upload/' + image.url }"/>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <a class="btn btn-warning" th:href="@{'/reviews/byRestaurant/' + ${user.restaurant.id}}" role="button">View-->
<!--        Reviews</a>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</main>-->


<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>

</body>
</html>
