<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/headHome :: headHome('Restaurant Dashboard')"></head>
<!--<style>-->
<!--body{-->
<!--    opacity: 80%;-->
<!--}-->

<!--</style>-->
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <div class="container" th:if="${user.restaurant == null}">
      <section>
        <div class="card">
          <h5 class="card-header">Hey there, <span th:text="${user.username}"></span></h5>
          <div class="card-body">
            <h5 class="card-title">Let's build your restaurant profile to display to future and current guest.</h5>
            <p class="card-text">The following links will help you create your page</p>

            <a role="button" class="btn btn-primary" th:href="@{/restaurant/create}">Enter Restaurant information </a>
          </div>
        </div>
      </section>
    </div>


    <div class="container" th:if="${user.restaurant != null}">
      <section th:if="${!user.restaurant.images.isEmpty()}">
        <div class="card">
          <div class="card-body text-center">
            <div th:replace="partials/carouselUser :: carouselUser"></div>
            <h3>Edit Restaurant Photos</h3>
            <a role="button" class="btn btn-primary" th:href="@{'/restaurant/uploads/show/' + ${user.restaurant.id}}">Edit Photos</a>
            <a role="button" class="btn btn-primary" th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Add more photos</a>
          </div>
        </div>
      </section>
      <section th:unless="${!user.restaurant.images.isEmpty()}">
        <div class="card row">
          <div class="card-body text-center"  width="100">
            <h1>Let's build Your Restaurant page</h1>
            <h3>Upload your restaurant photo's to display on restaurant page.</h3>
            <a role="button" class="btn btn-primary" th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Upload photos</a>
          </div>
        </div>
      </section>

      <section class="col-md-6">
        <div class="card">
          <h5 class="card-header text-center">Welcome, <span th:text="${user.username}"></span></h5>
          <div class="card-body row">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Account Information</h5><br>
                <h6>Username: <span th:text="${user.username}"></span></h6><br>
                <h6>Email: <span th:text="${user.email}"></span></h6><br>
                <a role="button" class="btn btn-primary" th:href="@{/users/edit}">Update Account</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Restaurant Information</h5><br>
                <h6 class="card-subtitle mb-2 text-muted"></h6><br>
                <h6>Restaurant: <span th:text="${user.restaurant.restaurant_name}"></span></h6><br>
                <a role="button" class="btn btn-primary" th:href="@{'/restaurant/edit/' + ${user.restaurant.id}}">Update Restaurant</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Restaurant Stats</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </section>
    </div>







<th:block th:replace="partials/scripts :: scripts"></th:block>

</body>
</html>
