<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/restaurantDashHead :: DashHead('Restaurant Dashboard')">

</head>

<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

<!--    <div id="menu-list" th:if="${user.restaurant == null}">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12 text-center marb-35">-->
<!--          <h1 class="header-h">Restaurant Dashboard</h1>-->
<!--            <p class="header-p">Let's build your restaurant page.-->
<!--            <a role="button" class="nav-link bg-transparent border-0" th:href="@{/restaurant/create}">Enter Restaurant information </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="container" th:if="${user.restaurant != null}">-->
<!--      <h1 class="text-light text-center">Your Restaurant Dashboard</h1>-->
<!--        <div class="row gy-5">-->
<!--            <div class="card col-3">-->
<!--              <div class="p-3 border bg-light">-->
<!--                <h5 class="card-title">Account Information</h5>-->
<!--                <h6>Username: <span th:text="${user.username}"></span></h6>-->
<!--                <h6>Email: <span th:text="${user.email}"></span></h6><br>-->
<!--                <a role="button" class="btn btn-primary" th:href="@{/users/edit}">Update Account</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="card col-3">-->
<!--              <div class="p-3 border bg-light">-->
<!--                <h5 class="card-title">Restaurant Information</h5>-->
<!--                <h6>Restaurant name: <span th:text="${user.restaurant.restaurant_name}"></span></h6>-->
<!--                <h6>Hours: <span th:text="${user.restaurant.hours}"></span></h6>-->
<!--                <h6 th:each="restaurantCategory : ${user.restaurant.categories}" th:selected="${restaurantCategory.id}" th:value="${restaurantCategory.id}" th:text="'Cuisine Category: ' + ${restaurantCategory.name}"></h6>-->
<!--                <h6>Address: <span th:text="${user.restaurant.street_address} + ', ' + ${user.restaurant.city} +  ', ' + ${user.restaurant.state} + ', ' + ${user.restaurant.zip_code}"></span></h6>-->
<!--                <h6>Phone Number: <span th:text="${user.restaurant.phone_number}"></span></h6>-->
<!--                <a role="button" class="btn btn-primary" th:href="@{'/restaurant/edit/' + ${user.restaurant.id}}">Update Restaurant</a>-->
<!--                <a role="button" class="btn btn-primary" th:href="@{'/restaurant/details/' + ${user.restaurant.id}}">Show Restaurant</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          <h2 class="text-light text-center">Restaurant statistics</h2>-->
<!--          <div class="row gy-5">-->
<!--            <div class="card col-3">-->
<!--                <div class="p-3 border bg-light">-->
<!--                  <div th:if="${!user.restaurant.favorites.isEmpty()}">-->
<!--                    <h4 class="card-text">Number of favorites: <span th:text="${user.restaurant.favorites.size()}"></span></h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            <div class="card col-3">-->
<!--              <div class="p-3 border bg-light">-->
<!--              <h3>List Of Reviews from <span th:text="${user.restaurant.restaurant_name}"></span> </h3>-->
<!--                  <div th:if="${!user.restaurant.reviews.isEmpty()}">-->
<!--                    <div th:each="review : ${user.restaurant.reviews}">-->
<!--                      <h3 class="card-text" th:text="${review.content}"></h3>-->
<!--                      <div th:each="image : ${review.images}" style="width: 18rem;">-->
<!--                        <img th:if="${image.url == null}" class="img-thumbnail" src="https://placeh old.it/300x300" alt="placeholder" />-->
<!--                        <img class="img-thumbnail"  th:src="${'/upload/' + image.url }" />-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <a class="btn btn-warning" th:href="@{'/reviews/byRestaurant/' + ${user.restaurant.id}}" role="button">View Reviews</a>-->
<!--                  </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--          </div>-->

<!--      <section th:if="${!user.restaurant.images.isEmpty()}">-->
<!--        <div class="card">-->
<!--          <div class="card-body text-center">-->
<!--            <div th:replace="partials/carouselUser :: carouselUser"></div>-->
<!--            <h3>Edit Restaurant Photos</h3>-->
<!--            <a role="button" class="btn btn-primary" th:href="@{'/restaurant/uploads/show/' + ${user.restaurant.id}}">Edit Photos</a>-->
<!--            <a role="button" class="btn btn-primary" th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Add more photos</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--      <section th:unless="${!user.restaurant.images.isEmpty()}">-->
<!--        <div class="card row">-->
<!--          <h5 class="card-header text-center">Welcome, <span th:text="${user.username}"></span></h5>-->
<!--          <div class="card-body text-center"  width="100">-->
<!--            <h1>Let's build Your Restaurant page</h1>-->
<!--            <h3>Upload your restaurant photo's to display on restaurant page.</h3>-->
<!--            <a role="button" class="btn btn-primary" th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Upload photos</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->

<!--        </div>-->
        <div id="menu-list" th:if="${user.restaurant == null}">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center marb-35">
              <h1 class="header-h">Restaurant Dashboard</h1>
                <p class="header-p">Let's build your restaurant page.
                <a role="button" class="nav-link bg-transparent border-0" th:href="@{/restaurant/create}">Enter Restaurant information </a>
              </div>
            </div>
          </div>
        </div>

    <main class="mb-5">

      <div class="container" th:if="${user.restaurant != null}">

        <div class="nav nav-tabs row align-items-center justify-content-center">

          <h1 class="header-h">Restaurant Dashboard</h1>
          <div class="nav-item col-12 col-md-5 px-0" id=“Account”>
            <div class="restaurant-card-text dashtab nav-tab-shadow text-center">
              <img class="img-thumbnail bg-transparent border-0" src="https://img.icons8.com/bubbles/100/000000/review.png"/>
              <br>
              <h5 class="card-title fw-bolder">Account Information</h5>
              <div class="text-start">
                <h6>Username: <span class="span-values fw-bold" th:text="${user.username}"></span></h6>
                <h6>Email: <span class="span-values fw-bold" th:text="${user.email}"></span></h6><br>
              </div>
                <div class="text-center">
                <a class="nav-link dashtab nav-tab-shadow" role="button"  th:href="@{/users/edit}">Update Account</a>
              </div>
          </div>
          </div>

          <div class="nav-item col-12 col-md-5 px-0">
            <div class="restaurant-card-text dashtab nav-tab-shadow text-center">
              <img src="https://img.icons8.com/emoji/96/000000/orange-heart.png"/>
              <br>
              <h5 class="card-title fw-bolder">Restaurant Information</h5>
              <div class="text-start">
                <h6>Restaurant name: <span class="span-values fw-bold" th:text="${user.restaurant.restaurant_name}"></span></h6>
                <h6>Hours: <span class="span-values fw-bold" th:text="${user.restaurant.hours}"></span></h6>
                <h6 class="fw-bold" th:each="restaurantCategory : ${user.restaurant.categories}" th:selected="${restaurantCategory.id}" th:value="${restaurantCategory.id}">Cuisine Category: <span class="span-values fw-bold" th:text="${restaurantCategory.name}"></span></h6>
                <h6>Address: <span class="span-values fw-bold" th:text="${user.restaurant.street_address} + ', ' + ${user.restaurant.city} +  ', ' + ${user.restaurant.state} + ', ' + ${user.restaurant.zip_code}"></span></h6>
                <h6>Phone Number: <span class="span-values fw-bold" th:text="${user.restaurant.phone_number}"></span></h6>
              </div>
              <div class="text-center row">
                <div class="col-6">
                  <a role="button" class="nav-link dashtab nav-tab-shadow" th:href="@{'/restaurant/edit/' + ${user.restaurant.id}}">Update</a>
                </div>
                <div class="col-6">
                  <a role="button" class="nav-link dashtab nav-tab-shadow"  th:href="@{'/restaurant/details/' + ${user.restaurant.id}}">View</a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="container">
          <div class="restaurant-card-text dashtab nav-tab-shadow text-center" data-toggle="tab">
            <h2 class="header-h">Restaurant statistics</h2>
            <div class="row">
              <h5 class="col-6 restaurant-card-text">Number of favorites: <span th:text="${user.restaurant.favorites.size()}"></span></h5>
              <h5 class="col-6 restaurant-card-text">Number of Reviews: <span th:text="${user.restaurant.reviews.size()}"></span></h5>
            </div>
          </div>
        </div>
          <br>
          <br>
          <br>

              <section th:if="${!user.restaurant.images.isEmpty()}">

                  <div class="text-center col-12">
                    <h2 class="header-h">Restaurant Photo's</h2>
                    <div th:replace="partials/carouselUser :: carouselUser"></div>
                    <div>
                      <a role="button" class="nav-link dashtab nav-tab-shadow" th:href="@{'/restaurant/uploads/show/' + ${user.restaurant.id}}">Edit Photos</a>
                      <a role="button" class="nav-link dashtab nav-tab-shadow" th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Add more photos</a>
                    </div>
                  </div>

              </section>
              <section th:unless="${!user.restaurant.images.isEmpty()}">
                <div class="card row">
                  <h5 class="card-header text-center">Welcome, <span th:text="${user.username}"></span></h5>
                  <div class="card-body text-center"  width="100">
                    <h1>Let's build Your Restaurant page</h1>
                    <h3>Upload your restaurant photo's to display on restaurant page.</h3>
                    <a role="button" class="nav-link dashtab nav-tab-shadow" th:href="@{'/restaurant/upload/' + ${user.restaurant.id}}">Upload photos</a>
                  </div>
                </div>
              </section>
              <br>
              <br>
              <br>





            <div class="restaurant-card-text dashtab nav-tab-shadow text-center" data-toggle="tab">
<!--              <h2 class="header-h">Restaurant statistics</h2>-->
<!--              <div class="row">-->
<!--                <h4 class="col-6 restaurant-card-text">Number of favorites: <span th:text="${user.restaurant.favorites.size()}"></span></h4>-->
<!--                <h4 class="col-6 restaurant-card-text">Number of Reviews: <span th:text="${user.restaurant.reviews.size()}"></span></h4>-->
<!--              </div>-->

              <div th:if="${!user.restaurant.reviews.isEmpty()}">
                <h3 class="header-h">Reviews</h3>
                <div class="row" th:each="review : ${user.restaurant.reviews}">
                  <div class="text-center" th:each="image : ${review.images}" style="width: 18rem;">
                    <div class="col-md-4">
                      <h3 class="text-center" th:text="${review.content}"></h3>
                      <img th:if="${image.url == null}" class="img-thumbnail" src="https://placeh old.it/300x300" alt="placeholder" />
                      <img class="img-thumbnail"  th:src="${'/upload/' + image.url }" />
                    </div>
                  </div>
                </div>
                    <a class="nav-link dashtab nav-tab-shadow" th:href="@{'/reviews/byRestaurant/' + ${user.restaurant.id}}" role="button">View Reviews</a>
              </div>
      </div>

      </div>
      </div>
    </main>





<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>

</body>
</html>
