<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/headHome :: headHome(Upload)"></head>
<style>

    .card {
        background-color: #FB8500;
    }

    h1 {
        color: white;
    }

    }

</style>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="card my-5 mx-5 text-center" style="background-color: #023047">
  <div class="card-body">
  <h2 style="color:#FFB03B">Edit Restaurant photo's</h2>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div th:class="${i.index == 0}? 'carousel-item active' : 'carousel-item' " th:each="image,i : ${restaurant.images}">
        <img th:if="${image.url == null}" src="https://placehold.it/300x300" alt="placeholder" />
        <img style="height: 300px" class="img-thumbnail" th:src="${'/upload/' + image.url}" alt="placeholder">
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-danger" th:value="${image.id}" th:href="@{'/restaurant/delete/upload/' + ${image.id}}">Delete</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




<!--  <main>-->
<!--    <div th:each="image : ${restaurant.images}">-->
<!--      <img th:if="${image.url == null}" src="https://placehold.it/300x300" alt="placeholder" />-->
<!--      <img th:src="${'/upload/' + image.url}" alt="placeholder">-->
<!--    </div>-->
<!--  </main>-->

</div>
</div>


<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>
</body>
</html>

