<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/headHome :: headHome(upload)"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
  <div class="container text-center">
  <main>
<form th:action="@{'/restaurant/upload/'+${restaurant.id}}" th:method="post" enctype="multipart/form-data">

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Upload a photo for your restaurant banner</label>
      <input class="form-control" name="file" type="file" id="formFileMultiple" multiple>
      <input type="submit" value="Upload Files">
    </div>

</form>

  </main>

</div>


<th:block th:replace="partials/homeScripts :: homeScripts"></th:block>
</body>
</html>
