<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <title>Home</title>-->
    <head th:replace="partials/headHome :: headHome('About')"></head>

    <a href="https://icons8.com/icon/fvJAqAdGkyGB/bellhop-bell"></a>
</head>
<style>
    .container {
        padding: 50px 110px 130px;
        background-color: #FB8500;
    }

</style>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <div class="card" style="background-color: #023047; padding: 0 10px;">
        <div class="row text-center">
            <!--        TITLE-->
            <h1 class="display-4 mt-1 p-1" style="color:white">DinnerBell Creators</h1>
            <p class="lead mb-2" style="color: #FFB703;">Our Team</p>
        </div>

        <div class="row align-items-center mb-1">
            <!-- Team item -->
            <div class="col text-center mb-2">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/img/AnnGHS.jpg" alt="" width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ann Gonzales</h5><span
                        class="small text-uppercase text-muted">Software Engineer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!--                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
                        <!--                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
                        <li class="list-inline-item"><a href="https://github.com/annmichellegonzales"
                                                        class="social-link"><i
                                class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="http://linkedin.com/in/ann-michelle-gonzales-7531a5186"
                                                        class="social-link"><i class="fa fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col text-center mb-1">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/img/JeanettePHS.jpg" alt="" width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jeanette Perez</h5><span
                        class="small text-uppercase text-muted">Software Engineer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!--                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
                        <!--                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
                        <li class="list-inline-item"><a href="https://github.com/JeanettePerez" class="social-link"><i
                                class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jeanettemperez/"
                                                        class="social-link"><i class="fa fa-linkedin fa-lg "></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col text-center mb-1">
                <!--            <img th:src="@{/img/CodeUpHS1.jpg}" class="bg-white rounded shadow-sm py-5 px-4"alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/img/EmilyHS.jpg" alt="" width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Emily Horn</h5><span
                        class="small text-uppercase text-muted">Software Engineer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!--                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
                        <li class="list-inline-item"><a href="https://www.behance.net/emilyhorn2" class="social-link"><i
                                class="fa fa-behance fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/emihhorn" class="social-link"><i
                                class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/emily-horn-1b89a6101/"
                                                        class="social-link"><i class="fa fa-linkedin fa-lg fa-lg"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->
        </div>
    </div>
</div>


<th:block th:replace="partials/homeScripts :: homeScripts"/>
<!--<div th:replace=""></div>-->
</body>
</html>