<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en"> <!-- xmlns="http://www.w3.org/1999/html" -->
<head th:replace="partials/header :: head('home')"></head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar"></nav>

<header class="container my-3">
    <h1 class="my-5 text-center display-4">Home Page</h1>
</header>


<!--<button name="About Us" type="submit" class="btn btn-primary">About Us</button>-->
<!--<a href="users/sign-up.html">-->
<!--    <button>Sign Up</button>-->
<!--</a>-->
<!--<a href="business /business">-->
<!--    <button>Restaurant Owners</button>-->
<!--</a>-->

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">About Us</button>
  <button class="btn btn-primary" type="button">Sign up</button>
  <button class="btn btn-primary" type="button">Sign up</button>
</div>

<th:block th:replace="partials/scripts :: scripts" />

</body>
</html>
