<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge" />-->
    <title>Random Restaurant Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous" />

    <link th:href="@{css/randomSelectorIcon.css}" rel="stylesheet" />
<!--    <link th:href="@{./randomSelectorMain.css}"  rel="stylesheet" />-->

<!--    <link rel="stylesheet" href="../../static/css/randomSelectorIcon.css" />-->
<!--    <link rel="stylesheet" href="../../static/css/randomSelectorMain.css" />-->
    <style>
        body{
            margin: 50px;
            padding: 60px;
        }
        card, h1, h6, p{
            color: #00aba9;
        }
    </style>
</head>

<body>

<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<!--Container for Icon -->
<div class="container1">
    <div class="container2">
        <div class="icon">
<!--            <img class="dbIcon" src="dinnerbell.png" alt="dbIcon">-->

        </div>
    </div>
</div>

<!--<p class="name">Search For A Restaurant!</p>-->
<input type="button" id="searchAgain" value="Search Again">

<!--Card div hidden until icon click-->
<div class="results" ></div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <!--CARD CLASS KEEPS CONTAINED-->
                    <div class="card" id="viewMore">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--scripts-->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<script th:inline="javascript">




</script>





<script type="text/javascript" th:src="@{js/keys.js}"></script>
<script type="text/javascript" th:src="@{js/randomSelector.js}"></script>

<script src="../../static/js/keys.js"></script>
<!--<script src="../../static/js/randomSelector.js"></script>-->


<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>

</html>



